body {
    overflow: hidden;
    margin: 0px;
}
.stock {
    position: fixed;
    right: 3;
    top: 3;
    padding: 6px;
    background-color: rgba(15,15,15,0.3);
    border-color: rgba(0,0,0,0.3);
    border-radius: 6px;
    height: 300px;
    width: 400px;
}